apiVersion: apps/v1
kind: Deployment
metadata:
  name: springboot-deployment
  labels:
    app: spring
spec:
  replicas: 3
  selector:
    matchLabels:
      app: spring
  template:
    metadata:
      labels:
        app: spring
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/path: "/actuator/prometheus"
        prometheus.io/port: "8081"
    spec:
      containers:
      - name: springboot
        image: vignan91/spring-test:12-Nov
        ports:
        - containerPort: 8081
---
apiVersion: v1
kind: Service
metadata:
  name: spring-service
  labels:
    app: spring  # The ServiceMonitor will look for this label
spec:
  type: NodePort
  selector:
    app: spring
  ports:
    - name: http-metrics  # <--- CRITICAL: Name added here
      protocol: TCP
      port: 8081
      targetPort: 8081
      nodePort: 30001 
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: springboot-monitor
  namespace: monitoring
  labels:
    release: monitoring  # This must match your Prometheus Helm release name
spec:
  selector:
    matchLabels:
      app: spring        # Matches the 'labels' section of your Service
  endpoints:
  - port: http-metrics   # Matches the 'name' given in the Service ports
    path: /actuator/prometheus
    interval: 15s
