apiVersion: apps/v1
kind: Deployment
metadata:
  name: springboot-deployment
  labels:
    app: spring
spec:
  replicas: 3
  selector:
    matchLabels:
      app: spring
  template:
    metadata:
      labels:
        app: spring
      annotations:
        # These allow Prometheus to automatically find your metrics
        prometheus.io/scrape: "true"
        prometheus.io/path: "/actuator/prometheus"
        prometheus.io/port: "8081"
    spec:
      containers:
      - name: springboot
        image: vignan91/spring-test:12-Nov
        ports:
        - containerPort: 8081
---
apiVersion: v1
kind: Service
metadata:
  name: spring-service
  labels:
    app: spring
spec:
  # Changed from ClusterIP to NodePort for external access
  type: NodePort
  selector:
    app: spring
  ports:
    - protocol: TCP
      port: 8081
      targetPort: 8081
      nodePort: 30001 # You can access this via http://<EC2-IP>:30001


# for Wsl
# apiVersion: apps/v1
# kind: Deployment
# metadata:
#   name: springboot-deployment
#   labels:
#     app: spring
# spec:
#   replicas: 3
#   selector:
#     matchLabels:
#       app: spring
#   template:
#     metadata:
#       labels:
#         app: spring
#     spec:
#       containers:
#       - name: springboot
#         image: springboot:latest
#         ports:
#         - containerPort: 8080
# ---
# apiVersion: v1
# kind: Service
# metadata:
#   name: spring-service
#   labels:
#     app: spring
# spec:
#   type: NodePort
#   selector:
#     app: spring
#   ports:
#     - protocol: TCP
#       port: 80
#       targetPort: 8080
