# For ec2 instance
apiVersion: apps/v1
kind: Deployment
metadata:
  name: springboot-deployment
  labels:
    app: spring
spec:
  replicas: 3
  selector:
    matchLabels:
      app: spring
  template:
    metadata:
      labels:
        app: spring

      annotations:
        # Prometheus Scrapping
        prometheus.io/scrape: "true"
        prometheus.io/path: "/actuator/prometheus"
        prometheus.io/port: "8081"
    spec:
      containers:
      - name: springboot
        image: vignan91/spring-test:12-Nov
        ports:
        - containerPort: 8081
---
apiVersion: v1
kind: Service
metadata:
  name: spring-service
  labels:
    app: spring
spec:
  type: ClusterIP
  selector:
    app: spring
  ports:
    - protocol: TCP
      port: 8081
      targetPort: 8081
